sc {
  font-size: 20px;
  font-variant: small-caps;
}
#top{
	width1000px;
	margin-right:150px;
       margin-left:150px;
}
#invite{
	background-color:white;
	text-align:left;
	padding: 5px ;
	
	
}
.sections{
	background-color:white;
		padding: 5px ;
	
}
.section-name{
	background-color:white;
		float:left;
}
.section-item{
	
}

img
{
float:right;
margin: 5px;
}
body
{
background-color:white;
font-family:"Calibri";	
	font-size:20px;
}
#contact{
	float:right;
}
h1
{

font-family:"URW Chancery L, cursive";
font-size:35px;
margin: 5px ;
color:#484D46;
}
h2
{color:black;
text-align:left;
font-family:"Calibri";
font-size:30px;

}
h3{
	color:#484D46;
font-family:"Calibri";
font-size:25px;
margin: 5px ;
}
h4{
	color:#484D46;
	font-family: "Calibri";
	font-size: 20px;
	margin: 5px ;
}
h5{
color:#484D46;
font-family:"Calibri";
font-size:25px;

}
h6{
	color:black;
font-family:"Calibri";
font-size:20px;
}
h7{
font-weight:bold;
}

.date{
	float:right;
	font-weight:bold;
	padding:2px;
}
.title{
	
	font-weight:bold;
}
.separator{
	background-color:#E5C6E5;
	padding: 4px;

}
p
{
font-family:"Calibri";
font-size:18px;
}



.top {
  height: 200px;
  margin:5px;
  padding:5px;
}

.form {
  height: 590px;
  width: 400px;
  margin: -50px auto;
  border-radius: 10px;
  padding: 5px 5px;
}

.info {
  padding: 10px;
}


p.line {
  margin: 0px auto 20px auto;
  color: #999;
}

.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;  
}

input:focus {
  outline: 0;
}

.button button {
  display: inline-block;
  width: 400px;
}
button {
  color: #666;
  background-color: #ffbdc7;
  border: none;
  font-family: 'Calibri';
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 200px;
  margin: 20px auto 0px auto; 
  float:left;
}

button.accept {
  border-radius: 0px 0px 0px 10px;
  border-right: solid 1px #cc919a;
}

button.regret {
  border-radius: 0px 0px 10px 0px;
}

button:hover {
  background-color: #cc919a;
  transition: .5s;
}

button:focus {
  outline: 0;
}


